<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Onemedia AWS Feedback Reporter{% endblock %}</title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css">
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
        <style>
            body {
                padding-top: 60px;
            }
            .pagination {
                margin-top: 0;
            }
        </style>
    </head>
    <body>
        <div class="navbar navbar-fixed-top">
            <div class="container">
                <a class="navbar-brand" href="{{ path('home') }}"><img src="/images/logo.png" width="114" height="19" alt="Onemedia" /></a>
                {% if app.security.token and is_granted('IS_AUTHENTICATED_FULLY') %}
                    <ul class="nav navbar-nav">
                        <li{% if 'notifications' == app.request.get('_route') %} class="active"{% endif %}><a href="{{ path('notifications') }}">Notifications</a></li>
                        {% if is_granted('ROLE_SUPERADMIN') %}
                            <li{% if 'postRaw' == app.request.get('_route') %} class="active"{% endif %}><a href="{{ path('postRaw') }}">Post Raw</a></li>
                        {% endif %}
                    </ul>
                    <div class="pull-right">
                        <a href="{{ path('admin_logout') }}" class="btn btn-link">Logout</a>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="container">
            {% block body %}Body content{% endblock %}
        </div>

        <script src="//code.jquery.com/jquery.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/js/bootstrap.min.js"></script>
    </body>
</html>
