{% extends "base.html.twig" %}

{% block body %}
    <h1>Send raw POST data</h1>
    <form action="{{ path('postRaw') }}" method="post">
        <p>
            <label for="raw">Raw body</label>
            <textarea id="raw" name="raw" class="form-control" style="height:150px"></textarea><br />
        </p>
        <p>
            <button type="submit" class="btn btn-default">Submit</button>
        </p>
    </form>
{% endblock %}
